# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build output (se usar TypeScript ou transpilers)
dist/
build/

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific
Thumbs.db